@model List<TaskAppCore.Models.Task>

@{
    ViewBag.Title = "Team Tasks";
}

<link type="text/css" href="~/css/DragAndDrop.css" rel="stylesheet" />
<script src="~/js/DragAndDrop.js" type="text/javascript"></script>


<div width="100%">
    <div class="droplist" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
        @foreach (var t in Model)
        {
            if (t.IsToDo)
            {
                <p draggable="true" ondragstart="drag(event)" id="@t.TaskId">@t.Name</p>
            }
        }
    </div>
    <div class="droplist" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
        @foreach (var t in Model)
        {
            if (t.IsInProgress)
            {
                <p draggable="true" ondragstart="drag(event)" id="@t.TaskId">@t.Name</p>
            }
        }
    </div>
    <div class="droplist" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
        @foreach (var t in Model)
        {
            if (t.IsTested)
            {
                <p draggable="true" ondragstart="drag(event)" id="@t.TaskId">@t.Name</p>
            }
        }
    </div>
    <div class="droplist" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)">
        @foreach (var t in Model)
        {
            if (t.IsFinished)
            {
                <p draggable="true" ondragstart="drag(event)" id="@t.TaskId">@t.Name</p>
            }
        }
    </div>
</div>