@model TaskAssignToUserModel

@{
    ViewBag.Title = "Team Tasks";
}

<link type="text/css" href="~/css/DragAndDrop.css" rel="stylesheet" />
<script src="~/js/DragAndDrop.js" type="text/javascript"></script>
<div class="bg-primary panel-body"><h4>Tasks</h4></div><br />

<div class="bg-primary panel-body"><h5>Team Task</h5></div>

<div width="100%">
    <div class="droplist" id="IsToDo">
        @if (Model.TeamTasks != null)
        {
            @foreach (var t in Model.TeamTasks)
            {
                if (t.IsToDo && t.User == null)
                {
                    <p>@t.Name <a id="@t.TaskId" class="btn btn-success" onclick="OnAssignClick(this)">Assign</a></p>
                }
                else if (t.IsToDo && t.UserId != Model.UserId)
                {
                    <p>@t.Name -> @t.User.UserName</p>
                }
            }
        }
    </div>
    <div class="droplist" id="IsInProgress">
        @if (Model.TeamTasks != null)
        {
            @foreach (var t in Model.TeamTasks)
            {
                if (t.IsInProgress && t.User == null)
                {
                    <p>@t.Name <a id="@t.TaskId" class="btn btn-success" onclick="OnAssignClick(this)">Assign</a></p>
                }
                else if (t.IsInProgress && t.UserId != Model.UserId)
                {
                    <p>@t.Name -> @t.User.UserName</p>
                }
            }
        }
    </div>
    <div class="droplist" id="IsTested">
        @if (Model.TeamTasks != null)
        {
            @foreach (var t in Model.TeamTasks)
            {
                if (t.IsTested && t.User == null)
                {
                    <p>@t.Name <a id="@t.TaskId" class="btn btn-success" onclick="OnAssignClick(this)">Assign</a></p>
                }
                else if (t.IsTested && t.UserId != Model.UserId)
                {
                    <p>@t.Name -> @t.User.UserName</p>
                }
            }
        }
    </div>
    <div class="droplist" id="IsFinished">
        @if (Model.TeamTasks != null)
        {
            @foreach (var t in Model.TeamTasks)
            {
                if (t.IsFinished && t.User == null)
                {
                    <p>@t.Name <a id="@t.TaskId" class="btn btn-success" onclick="OnAssignClick(this)">Assign</a></p>
                }
                else if (t.IsFinished && t.UserId != Model.UserId)
                {
                    <p>@t.Name -> @t.User.UserName</p>
                }
            }
        }
    </div>
</div>

<div class="bg-primary panel-body" style="clear:both"><h5>Your Tasks</h5></div><br />

<div width="100%">
    <div class="droplist" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
        @if (Model.UserTasks != null)
        {
            @foreach (var t in Model.UserTasks)
            {
                if (t.IsToDo)
                {
                    <p draggable="true" ondragstart="drag(event)">@t.Name<a id="@t.TaskId" class="btn btn-danger" onclick="OnResignClick(this)">Resign</a></p>
                }
            }
        }
    </div>
    <div class="droplist" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
        @if (Model.UserTasks != null)
        {
            @foreach (var t in Model.UserTasks)
            {
                if (t.IsInProgress)
                {
                    <p draggable="true" ondragstart="drag(event)">@t.Name<a id="@t.TaskId" class="btn btn-danger" onclick="OnResignClick(this)">Resign</a></p>
                }
            }
        }
    </div>
    <div class="droplist" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
        @if (Model.UserTasks != null)
        {
            @foreach (var t in Model.UserTasks)
            {
                if (t.IsTested)
                {
                    <p draggable="true" ondragstart="drag(event)">@t.Name<a id="@t.TaskId" class="btn btn-danger" onclick="OnResignClick(this)">Resign</a></p>
                }
            }
        }
    </div>
    <div class="droplist" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)">
        @if (Model.UserTasks != null)
        {
            @foreach (var t in Model.UserTasks)
            {
                if (t.IsFinished)
                {
                    <p draggable="true" ondragstart="drag(event)">@t.Name<a id="@t.TaskId" class="btn btn-danger" onclick="OnResignClick(this)">Resign</a></p>
                }
            }
        }
    </div>
</div>
<br style="clear:both" /><br />
<a class="btn btn-primary" asp-action="TaskList">Task List</a>
<a class="btn btn-primary" asp-action="CreateTask">Create Task</a>